<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Exam List</title>
<style type="text/css">
	span {
        display: inline-block;
        width: 280px;
        text-align: left;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

<div align="center" class="offset-3 col-6">
	<h2> Exam List</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Exam Code</th>
				<th scope="col">Exam Name</th>
			</tr>
		</thead>
<tbody  th:if="${not #lists.isEmpty(response.examList)}">
<tr th:each ="exam , state : ${response.examList}">
	<td th:text="${exam.code}"></td>
	<td th:text="${exam.name}"></td>
</tr>
</tbody>

</table>
</div>

</body>
</html>